body {
    margin: 0;
}

.header {
    background-color: black;
    width: 100%;
    height: 100px;
    border-bottom: 4px solid #32B9CD;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 10%;
    align-items: center;
    height: 100%;
}

.header>.container>h1 {
    color: #32B9CD;
    margin: 0;
}

.header>.container>.navbar {
    list-style: none;
}

.header>.container>.navbar>li {
    display: inline;
    padding: 0 15px;
}

.header>.container>.navbar>li>a {
    color: #ff9500;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 400px;
    background-image: url(imagens/bg-jelly-fish-para_outras_pags.png);
}

.banner>.container {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>.container>p {
    margin: 0;
    color: white;
    font-size: 36px;
    width: 10%;
}